/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nova
composer.json
composer.lock
/public/vendor
/resources/views/vendor
/resources/lang/vendor
/config/nova.php
